*__pycache__/

# Ignore data files
data/

# Ignore train results
training-runs/

# Ignore trained networks
networks/
*.pkl

# Ignore generated images
out/

# Ignore scripts to run jobs in slurm and outputs
run_job.sh
job_outputs/
*.err
*.out