*__pycache__/

# Ignore data files
data/

# Ignore train results
training-runs*/

# Ignore trained networks
networks/
*.pkl

# Ignore generated images
out/

# Ignore scripts to run jobs in slurm and outputs
scripts/
job_outputs/
*.err
*.out

# Ignore csv with results
*.csv

# Ignore singularity files
*.sif

# Ignore venvironment files
*_venv/

# Ignore Gimini files
GEMINI.md

# Ignore judge models
oitaven_judge*.pth