*__pycache__/

# Ignore data files
data/

# Ignore train results
training-runs*/

# Ignore trained networks
networks/
*.pkl

# Ignore generated images
out/

# Ignore scripts to run jobs in slurm and outputs
job_outputs/
*.err
*.out

# Ignore csv with results
*.csv

# Ignore singularity files
*.sif

# Ignore venvironment files
*_venv/
.venv/

# Ignore Gimini files
GEMINI.md

# Ignore judge models
oitaven_judge*.pth

# Ignore script to run the experiments
scripts/run_job.sh
scripts/run_all_experiments.sh

sota_comparison/
scripts/run_job*.sh
stylegan3_singularity/
